@model TallinnaRakenduslikKolledz.Models.Delinquent

@{
	ViewData["Title"] = "Loo uus Kuritegija";
}

<h1>Loo uus Kuritegija</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="FirstName" class="control-label"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>

			<div>
				<label asp-for="DelincuentID" class="control-label"></label>
				<select asp-for="DelincuentID" class="form-control" asp-items="ViewBag.DelinquentID">
					<option value="" class="form-control">--Vali kuritegevus--</option>
				</select>
				<span asp-validation-for="DelincuentID" class="text-danger"></span>
			</div>

			
			<div class="form-group">
				<input type="submit" value="Sisesta" class="btn btn-primary" />
			</div>

		</form>

	</div>


</div>
<div>
	<a asp-action="Index">Mine tagasi loendisse</a>
</div>